.container {
  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: 10vh 1fr;
  height: 100%;
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
